#div_summery_description {
    background-color: #f2f2f5;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}
.opciones {
    width: 70%;
    background-color: white;
    height: 5rem;
    display: flex; 
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    border-radius: 15px;
    padding: 1rem;
    border: 1px solid black;
}
.opciones:hover {
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.3);
    transition: 1s;
}
.opciones input {
    width: 2rem;
    height: 2rem;
}
.opciones label {
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}